html, body {
    margin:0;
    padding:0;
    height:100%; 
 } 
}
.body-container {
	  float: right;

	
}

.title-bar {
	  margin-right: none;
	  margin-left: none;
	  background-color: black;
      border-radius:2px;
   
}

.brand {
	font-family: 'Fredericka the Great', cursive;
	font-size: 200%;
}


a {
	text-decoration: none;
	line-height: 40px;

}

ul li {
	display: inline-block;
	padding: 0 0 0 20px;
	
}

.title-bar ul li a {
	color: #A0A0A0;
	display: inline;
	
}

.title-bar ul li a:hover {
	color: #FFFFFF;
	display: inline;
	
}