html, body {
     padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
 } 

.body-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.title-bar {
	  
	  background-color: black;
    height: 50px;
    border-radius: 5px;

   
}

.brand {
  font-family: 'Cherry Swash', cursive;
	font-size: 150%;

}


a {
	text-decoration: none;
	line-height: 40px;

}

ul li {
	display: inline-block;
	padding: 0 0 0 20px;
	
}

.title-bar ul li a {
	color: #A0A0A0;
	display: inline;
	
}

.title-bar ul li a:hover {
	color: #FFFFFF;
	display: inline;
	
}
.line-header {
  padding-bottom: 1px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}
.content {
  border-bottom: solid 1px #A0A0A0;
  padding: 7px;
}

a {
  color: #2980b9;
}


.button {
        
        -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
        -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
        box-shadow: 0px 1px 0px 0px #f0f7fa;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
        background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
        background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
        background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
        background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
        background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
        background-color:#33bdef;
        
        -moz-border-radius:6px;
        -webkit-border-radius:6px;
        border-radius:6px;        
        display:inline-block;
        font-family:arial;
        font-size:15px;
        font-weight:bold;
        padding:0 10px;
        text-decoration:none;  
        text-shadow:0px -1px 0px #5b6178;
        
    }

.button a{
  color: white;
}
.button:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
        background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
        background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
        background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
        background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
        background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
        
        background-color:#019ad2;
    }

    .button:active {
        position:relative;
        top:1px;
    }
