html, body {
     padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
 } 

.body-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.title-bar {
	  
	  background-color: black;
    height: 50px;
    border-radius: 5px;

   
}

.brand {
  font-family: 'Cherry Swash', cursive;
	font-size: 150%;

}


a {
	text-decoration: none;
	line-height: 40px;

}

ul li {
	display: inline-block;
	padding: 0 0 0 20px;
	
}

.title-bar ul li a {
	color: #A0A0A0;
	display: inline;
	
}

.title-bar ul li a:hover {
	color: #FFFFFF;
	display: inline;
	
}
.line-header {
  padding-bottom: 1px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}
}